body {
	background:#000;
	min-width:800px;
	margin:0;
}

#header {
	margin-top: 0px;
	width: 100%;
}
#spacer {
	height:200px;
}
img.banner{
	width:100%;
	height:auto;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
