body {
	background:#000;
	min-width:800px;
	margin:0;
}

#header {
	margin-top: 0px;
	width: 100%;
}
#spacer {
	height:200px;
}
img.banner{
	width:100%;
	height:auto;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#side {
	width:300px;
	float:right;
	height:100vh;
	background-color:#012;
	padding-right:30px;
	font-family: monospace;
	font-size:13px;
	text-align: right;
	color:#fff;
}

#controls {
	font-weight:bold;
	padding-bottom: 16px;
	border-bottom: solid 1px white;
	
}
#controls button {
		font-weight:normal;
		margin-bottom:10px;
}

#inspectors {
	margin-top:16px;
}

.entry {
	font-weight:normal;
	font-family: monospace;
	font-size:13px;
	text-align: right;
	color:#fff;
}